.Rdata
.Rhistory
data/*
.DS_Store
fits/*

## ingore all files in the models directory to get rid of cached models (except for the .stan files themselves) 
mdls/simple_bayes_betabinomial
mdls/weighted_bayes_betabinomial
mdls/weighted_bayes_betabinomial_compare